
          <div class="briefbio">
            <h2>Brief bio</h2>
            {% if site.small_bio  -%} 
            Here is a small bio about myself.
          {%- else -%} 
            <p>I completed my bachelors in Computer Science and Engineering from RV College of Engineering (RVCE), India. 
                For my undergraduate thesis, I worked as an intern at the Robert Bosch Center for Cyber-Physical Systems, Indian Institute of Science (RBCCPS, IISc) under Prof. Raghu Krishnapuram and Prof. Bharadwaj Amrutur, and later continued as a technical associate at RBCCPS. </p>
                <p> 
                During my time at RBCCPS, I worked on autonomous navigation and robot teleoperation.
                During my time at RVCE, I was a member of Project Jatayu, the autonomous UAV team of RVCE, where I also served as the team lead for the SUAS 2019 competition.</p>

            </p>
          {%- endif %} 
          </div>
