{{ $item := .item }}
{{ $index := .index | default 0 }}
{{ $uid := printf "pub-%s-%d" ($item.File.ContentBaseName | default (anchorize $item.Title)) $index }}

{{ $resource := partial "functions/get_featured_image.html" $item }}
{{ $location := $item.Params.publication | default $item.Params.publication_short | default "" }}
{{ $has_abstract := ne (trim ($item.Params.abstract | default "") " ") "" }}
{{ $bib_resource := $item.Resources.GetMatch "cite.bib" }}

{{ $pdf := "" }}
{{ $pdf_resource := $item.Resources.GetMatch (printf "%s.pdf" $item.File.ContentBaseName) }}
{{ with $pdf_resource }}
  {{ $pdf = .RelPermalink }}
{{ else }}
  {{ with $item.Params.url_pdf }}{{ $pdf = . | relURL }}{{ end }}
{{ end }}

{{ $code := "" }}
{{ with $item.Params.url_code }}{{ $code = . | relURL }}{{ end }}

{{ $video := "" }}
{{ with $item.Params.url_video }}{{ $video = . | relURL }}{{ end }}

{{ $website := "" }}
{{ with $item.Params.url_project }}{{ $website = . | relURL }}{{ end }}
{{ if and (eq $website "") $item.Params.url_source }}{{ $website = $item.Params.url_source | relURL }}{{ end }}

<div class="pub-list-item view-citation pub-citation-item">
  <div class="row pub-citation-row">
    <div class="col col-sm-2 pub-citation-media">
      {{ with $resource }}
        {{ $subtype := lower (.MediaType.SubType | default "") }}
        {{ $name := lower (.Name | default "") }}
        {{ $is_passthrough := or (or (eq $subtype "gif") (hasSuffix $name ".gif")) (or (eq $subtype "svg") (hasSuffix $name ".svg")) }}
        {{ $image := . }}
        {{ if not $is_passthrough }}
          {{ $image = .Resize "420x" }}
        {{ end }}
        <figure class="pub-preview">
          <picture>
            <img src="{{ $image.RelPermalink }}" class="preview z-depth-1 rounded pub-citation-image" alt="{{ $item.Title }}" data-zoomable loading="lazy">
          </picture>
        </figure>
      {{ end }}
    </div>

    <div class="col-sm-10 pub-citation-content">
      <div class="title"><a href="{{ $item.RelPermalink }}">{{ $item.Title }}</a></div>
      <div class="author">{{ partial "page_metadata_authors" $item }}</div>

      {{ with $location }}
        <div class="periodical"><em>{{ . | markdownify }}</em></div>
      {{ end }}

      <div class="links">
        {{ with $pdf }}
          <a class="btn btn-outline-primary btn-page-header btn-sm z-depth-0" href="{{ . }}" target="_blank" rel="noopener">PDF</a>
        {{ end }}

        {{ with $bib_resource }}
          <a class="bibtex btn btn-outline-primary btn-page-header btn-sm z-depth-0" role="button" href="#{{ $uid }}-bibtex">Bib</a>
        {{ end }}

        {{ if $has_abstract }}
          <a class="abstract btn btn-outline-primary btn-page-header btn-sm z-depth-0" role="button" href="#{{ $uid }}-abstract">Abs</a>
        {{ end }}

        {{ with $website }}
          <a class="btn btn-outline-primary btn-page-header btn-sm z-depth-0" href="{{ . }}" target="_blank" rel="noopener">Website</a>
        {{ end }}

        {{ with $video }}
          <a class="btn btn-outline-primary btn-page-header btn-sm z-depth-0" href="{{ . }}" target="_blank" rel="noopener">Video</a>
        {{ end }}

        {{ with $code }}
          <a class="btn btn-outline-primary btn-page-header btn-sm z-depth-0" href="{{ . }}" target="_blank" rel="noopener">Code</a>
        {{ end }}
      </div>

      {{ if $has_abstract }}
        <div id="{{ $uid }}-abstract" class="abstract hidden">
          <p>{{ $item.Params.abstract | markdownify }}</p>
        </div>
      {{ end }}

      {{ with $bib_resource }}
        <div id="{{ $uid }}-bibtex" class="bibtex hidden">
          <pre><code class="language-bibtex">{{ .Content | htmlEscape }}</code></pre>
        </div>
      {{ end }}
    </div>
  </div>
</div>
