{{/* Table Shortcode for Wowchemy. */}}
{{/* Load a CSV table from page dir falling back back to remote URL */}}
{{/* Defaults to expecting a comma-separated CSV with a header row. */}}

{{/*
    Docs: https://wowchemy.com/docs/content/writing-markdown-latex/#csv-table

    Parameters
    ----------
    src :
        Path or url to the csv table. Path is relative to the folder where the shortcode is called.
    delimiter : default ","
        Field delimiter.
    header : default "true"
        If "true", the first row is rendered as the header.
    caption : optional
        Caption for the table.
*/}}

{{ $src := .Get "path" }}
{{ $delimiter := .Get "delimiter" | default "," }}
{{ $useHeaderRow := (eq (lower (.Get "header")) "true") | default true }}
{{ $caption := .Get "caption" }}

{{ $is_remote := strings.HasPrefix $src "http" }}
{{ $rows := slice }}

{{ if $is_remote }}
  {{ with try (resources.GetRemote $src) }}
    {{ with .Err }}
      {{ errorf "Table shortcode failed to fetch remote CSV %q: %s" $src . }}
    {{ else }}
      {{ $rows = transform.Unmarshal (dict "delimiter" $delimiter) .Value }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ $resource := $.Page.Resources.GetMatch $src }}
  {{ if $resource }}
    {{ $rows = transform.Unmarshal (dict "delimiter" $delimiter) $resource }}
  {{ else }}
    {{ $pageDir := "" }}
    {{ with $.Page.File }}{{ $pageDir = .Dir }}{{ end }}
    {{ if $pageDir }}
      {{ $localPath := path.Join "content" $pageDir $src }}
      {{ if fileExists $localPath }}
        {{ $rows = transform.Unmarshal (dict "format" "csv" "delimiter" $delimiter) (os.ReadFile $localPath) }}
      {{ else }}
        {{ errorf "Table shortcode could not find CSV %q" $localPath }}
      {{ end }}
    {{ else }}
      {{ errorf "Table shortcode could not resolve local CSV %q for page without a backing file" $src }}
    {{ end }}
  {{ end }}
{{ end }}

<table class="table">
  {{ if $useHeaderRow }}
    {{ $headerRow := index $rows 0 }}
    {{ $rows = after 1 $rows }}
    <tr> {{ range $headerRow }} <th>{{ . | markdownify | emojify }}</th> {{ end }} </tr>
  {{ end }}
  {{ range $rows }}
    <tr>
      {{ range . }}
        {{ if (findRE "^\\d+$" .) }}
          <td data-table-dtype="number">{{ . }}</td>
        {{ else }}
          <td data-table-dtype="text">{{ . | markdownify | emojify }}</td>
        {{ end }}
      {{ end }}
    </tr>
  {{ end }}
  {{ if $caption }}
    <caption>{{ $caption | markdownify | emojify }}</caption>
  {{ end }}
</table>
